.login-page {
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-page .header {
  background: #555;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.login-page .header .battonBack {
  margin-left: 70px;
}
.login-page .header .battonBack .Accept {
  border-radius: 5px;
  background-color: #007bff;
  text-decoration: none;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.login-page .header .battonBack .Accept:hover {
  background-color: #0056b3;
}
.login-page .header .logo {
  margin-right: 50px;
  align-items: center;
}
.login-page .header .logo p {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.login-page .login h1 {
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #000000;
}
.login-page .login-form {
  margin-top: 50px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-page .login-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-page .login-form .form-group label {
  font-size: 1rem;
  color: #333;
}
.login-page .login-form .form-group input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
.login-page .login-form .submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-page .login-form .submit-button:hover {
  background-color: #0056b3;
}
.login-page .google-login-button {
  background-color: #4285f4;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  display: flex;
}
.login-page .google-login-button .imgConteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.login-page .google-login-button .imgConteiner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.login-page .google-login-button:hover {
  background-color: #357ae8;
}
/* Великі екрани (від 1200px) */
@media (min-width: 1200px) {
  .login-page {
    width: 100%;
    height: 100%;
  }
  .login-page .login {
    margin-top: 100px;
  }
  .login-page .login p {
    font-size: 2rem;
  }
  .login-page .header {
    height: 70px;
  }
  .login-page .header .logo p {
    font-size: 2rem;
  }
  .login-page .header .battonBack .Accept {
    width: 100px;
    height: 50px;
  }
  .login-form {
    width: 400px;
  }
  .header .logo p,
  .form-group label,
  .submit-button,
  .google-login-button {
    font-size: 1rem;
  }
}
/* Середні екрани (768px - 1200px) */
@media (max-width: 1200px) and (min-width: 768px) {
  .login-page {
    width: 100%;
    height: 100%;
  }
  .login-page .login {
    margin-top: 100px;
  }
  .login-page .header {
    height: 70px;
  }
  .login-page .header .logo p {
    font-size: 1.5rem;
  }
  .login-page .header .battonBack .Accept {
    width: 100px;
    height: 50px;
  }
  .login-form {
    width: 350px;
  }
  .header .logo h1,
  .login h1 {
    font-size: 1.8rem;
  }
  .form-group label,
  .submit-button,
  .google-login-button {
    font-size: 0.9rem;
  }
}
/* Малі екрани (480px - 768px) */
@media (max-width: 768px) and (min-width: 480px) {
  .login-page {
    width: 100%;
    height: 100%;
    padding-bottom: 300px;
  }
  .login-page .header {
    height: 70px;
  }
  .login-page .header .logo p {
    font-size: 1.5rem;
  }
  .login-page .header .battonBack {
    margin-left: -10px;
  }
  .login-page .header .battonBack .Accept {
    width: 80px;
    height: 50px;
  }
  .login-form {
    width: 300px;
  }
  .header .logo p,
  .login p {
    font-size: 1.6rem;
  }
  .form-group label,
  .submit-button,
  .google-login-button {
    font-size: 0.85rem;
  }
}
/* Дуже малі екрани (до 480px) */
@media (max-width: 480px) {
  .login-page {
    width: 100%;
    height: 100%;
    padding-bottom: 300px;
  }
  .login-page .header {
    height: 70px;
  }
  .login-page .header .logo p {
    font-size: 1.5rem;
  }
  .login-page .header .battonBack {
    margin-left: -10px;
  }
  .login-page .header .battonBack .Accept {
    width: 70px;
    height: 50px;
  }
  .login-form {
    width: 250px;
    padding: 10px;
  }
  .header .logo h1,
  .login h1 {
    font-size: 1.4rem;
  }
  .form-group label,
  .submit-button,
  .google-login-button {
    font-size: 0.8rem;
  }
}
