.user-page {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 170px;
  color: #333;
  width: 100%;
  height: 100%;
}
.user-page .header {
  background: #555;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-page .header .battonBack {
  margin-left: 70px;
}
.user-page .header .battonBack .Accept {
  border-radius: 5px;
  width: 100px;
  height: 50px;
  background-color: #007bff;
  text-decoration: none;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.user-page .header .battonBack .Accept:hover {
  background-color: #0056b3;
}
.user-page .folders {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-page .folders ul {
  list-style-type: none;
  display: flex;
}
.user-page .folders ul li {
  margin-right: 20px;
}
.user-page .folders ul li .page {
  width: 350px;
  height: 600px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}
.user-page .folders ul li .page .user-header {
  margin-bottom: 20px;
}
.user-page .folders ul li .page .user-header ul {
  display: grid;
}
.user-page .folders ul li .page .user-header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-page .folders ul li .page .user-header ul li .user-icon {
  margin-right: 20px;
}
.user-page .folders ul li .page .user-header ul li .user-icon .icon-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #64b7c5;
}
.user-page .folders ul li .page .user-header ul li .user-info ul {
  display: inline;
  list-style: none;
  padding: 0;
}
.user-page .folders ul li .page .user-header ul li .user-info ul li {
  justify-content: space-between;
}
.user-page .folders ul li .page .user-header ul li .user-info ul li .admin-message {
  background-color: #ffefc4;
  color: #856404;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 170px;
}
.user-page .folders ul li .page .user-header ul li .user-info ul li h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}
.user-page .folders ul li .page .user-header ul li .user-info ul li p {
  margin: 5px 0;
  font-size: 16px;
}
.user-page .folders ul li .page .user-header ul li .change {
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 60px;
  background-color: #cacaca;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 5px rgba(114, 114, 114, 0.267);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-page .folders ul li .page .user-header ul li .change .imgConteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.user-page .folders ul li .page .user-header ul li .change .imgConteiner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.user-page .folders ul li .page .user-header ul li .change:hover {
  background-color: #b9b9b9;
}
.user-page .folders ul li .tariffs-page {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}
.user-page .folders ul li .tariffs-page .headerTariff {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}
.user-page .folders ul li .tariffs-page .class-ul ul {
  display: inline;
  list-style: none;
  padding: 0;
}
.user-page .folders ul li .tariffs-page .class-ul ul li {
  display: inline;
  margin-bottom: 10px;
}
.user-page .folders ul li .tariffs-page .class-ul ul li .border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #d6ffc3;
}
.user-page .folders ul li .tariffs-page .class-ul ul li .border p {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #3e5832;
}
.user-page .folders ul li .tariffs-page .class-ul ul li .details ul {
  list-style: none;
  padding: 0;
}
.user-page .folders ul li .panel {
  width: 900px;
  height: 800px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}
.user-page .folders ul li .panel .name p {
  font-weight: 800;
  color: #333;
  font-size: 20px;
}
.user-page .folders ul li .panel .users {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  background-color: #eeeeee;
  border-style: dotted;
  display: flex;
  overflow-y: auto;
}
.user-page .folders ul li .panel .users ul {
  margin-top: 10px;
  margin-left: -30px;
  display: block;
  width: 100%;
  margin-right: 20px;
}
.user-page .folders ul li .panel .users ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.user-page .folders ul li .panel .users ul li h4 {
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
}
.user-page .folders ul li .panel .users ul li p {
  margin-right: 10px;
}
.user-page .folders ul li .panel .users ul li .position {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  border-radius: 5px;
  background-color: #d6ffc3;
}
.user-page .folders ul li .panel .users ul li .parent-container {
  margin-right: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user-page .folders ul li .panel .users ul li .parent-container .admin-button,
.user-page .folders ul li .panel .users ul li .parent-container .consultant-button,
.user-page .folders ul li .panel .users ul li .parent-container .removeConsultant-button,
.user-page .folders ul li .panel .users ul li .parent-container .user-button,
.user-page .folders ul li .panel .users ul li .parent-container .delete-button {
  margin-left: 10px;
  background-color: #eb9e46;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.user-page .folders ul li .panel .users ul li .parent-container .admin-button:hover,
.user-page .folders ul li .panel .users ul li .parent-container .consultant-button:hover,
.user-page .folders ul li .panel .users ul li .parent-container .removeConsultant-button:hover,
.user-page .folders ul li .panel .users ul li .parent-container .user-button:hover,
.user-page .folders ul li .panel .users ul li .parent-container .delete-button:hover {
  background-color: #a56b28;
}
.user-page .folders ul li .panel .users ul li .parent-container .consultant-button {
  background-color: #e8eb46;
  color: black;
}
.user-page .folders ul li .panel .users ul li .parent-container .consultant-button:hover {
  background-color: #beb666;
}
.user-page .folders ul li .panel .users ul li .parent-container .removeConsultant-button {
  background-color: #eb5946;
  color: white;
}
.user-page .folders ul li .panel .users ul li .parent-container .removeConsultant-button:hover {
  background-color: #a83333;
}
.user-page .folders ul li .panel .users ul li .parent-container .user-button {
  background-color: #eb4646;
}
.user-page .folders ul li .panel .users ul li .parent-container .user-button:hover {
  background-color: #a83333;
}
.user-page .folders ul li .panel .users ul li .parent-container .delete-button {
  background-color: #eb4646;
}
.user-page .folders ul li .panel .users ul li .parent-container .delete-button:hover {
  background-color: #a83333;
}
.user-page .folders ul li .panel .users ul li:hover {
  background-color: #f7f7f7;
}
.user-page .folders ul li .panel .tariff-settings .Title {
  display: flex;
  align-items: center;
}
.user-page .folders ul li .panel .tariff-settings .Title p {
  font-weight: 800;
  color: #333;
  font-size: 20px;
}
.user-page .folders ul li .panel .tariff-settings .Title .parent-container .add-tariff-button {
  margin-left: 20px;
  font-size: 15px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: #00a2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 53, 114, 0.288);
}
.user-page .folders ul li .panel .tariff-settings .Title .parent-container .add-tariff-button:hover {
  background-color: #0485cf;
}
.user-page .folders ul li .panel .tariff-settings .tariffs {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  background-color: #eeeeee;
  border-style: dotted;
  display: flex;
  overflow-y: auto;
  border-radius: 5px;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul {
  margin-top: 10px;
  margin-left: -30px;
  display: block;
  width: 100%;
  margin-right: 20px;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  margin-right: 10px;
  margin-bottom: 5px;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  width: 100%;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .flexClass {
  display: inline;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .flexClass h2 {
  white-space: nowrap;
  font-size: 20px;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .price {
  margin-left: 50px;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .price p {
  white-space: nowrap;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .parent-container {
  margin-right: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .parent-container .changeTariff {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fffebc;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .parent-container .changeTariff .imgConteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .parent-container .changeTariff .imgConteiner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .parent-container .changeTariff:hover {
  background-color: #dad5b0;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .parent-container .deleteTariff {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffd9d9;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .parent-container .deleteTariff .imgConteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .parent-container .deleteTariff .imgConteiner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li .parent-container .deleteTariff:hover {
  background-color: #d49b9b;
}
.user-page .folders ul li .panel .tariff-settings .tariffs ul li:hover {
  background-color: #f1f1f1;
}
.user-page .folders ul li .panel .addInstruction .Title {
  display: flex;
  align-items: center;
}
.user-page .folders ul li .panel .addInstruction .Title p {
  font-weight: 800;
  color: #333;
  font-size: 20px;
}
.user-page .folders ul li .panel .addInstruction .instruction .textInput {
  width: 50%;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}
.user-page .support-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}
.user-page .support-chat button {
  background-color: #806ae0;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.user-page .support-chat button:hover {
  background-color: #7754c9;
}
.user-page .support-chat .chat-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1002;
}
.user-page .modal-tariff {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.user-page .modal-tariff .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  position: relative;
}
.user-page .modal-tariff .modal-content h3 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
  color: #333;
}
.user-page .modal-tariff .modal-content label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}
.user-page .modal-tariff .modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* Підрахунок padding в ширині */
  font-size: 16px;
}
.user-page .modal-tariff .modal-content input[type="number"] {
  -moz-appearance: textfield;
  /* Для підтримки стилю в Firefox */
}
.user-page .modal-tariff .modal-content .buttons .button-add {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.user-page .modal-tariff .modal-content .buttons .button-add:hover {
  background-color: #0056b3;
}
.user-page .modal-tariff .modal-content .buttons .batton-exit {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #9c9c9c;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.user-page .modal-tariff .modal-content .buttons .batton-exit:hover {
  background-color: #757575;
}
.user-page .modal-tariff {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-page .modal-tariff .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.user-page .modal-tariff .modal-content h3 {
  margin-top: 0;
}
.user-page .modal-tariff .modal-content label {
  display: block;
  margin-top: 10px;
}
.user-page .modal-tariff .modal-content input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.user-page .modal-tariff .modal-content .button-ok {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #1183fd;
  color: white;
  cursor: pointer;
}
.user-page .modal-tariff .modal-content .button-ok:hover {
  background-color: #0056b3;
}
.user-page .modal-tariff .modal-content .batton-exit {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #9c9c9c;
  color: white;
  cursor: pointer;
}
.user-page .modal-tariff .modal-content .batton-exit:hover {
  background-color: #8a8a8a;
}
.user-page .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-page .modal .modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.user-page .modal .modal-content .close {
  font-size: 24px;
  color: #aaa;
  float: right;
  cursor: pointer;
}
.user-page .modal .modal-content h2 {
  margin-top: 0;
  font-size: 22px;
}
.user-page .modal .modal-content .form-group {
  margin-bottom: 20px;
}
.user-page .modal .modal-content .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.user-page .modal .modal-content .form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.user-page .modal .modal-content .submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.user-page .modal .modal-content .submit-button:hover {
  background-color: #0062cc;
}
@media (max-width: 480px) {
  .user-page .header {
    height: 50px;
  }
  .user-page .header .battonBack {
    margin-left: 20px;
  }
  .user-page .header .battonBack .Accept {
    width: 70px;
    height: 35px;
    font-size: 0.8rem;
  }
  .user-page .header .battonBack .change {
    height: 35px;
  }
}
