.wallet-payment-page {
  /* Media queries */
}
.wallet-payment-page .header {
  background: #555;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.wallet-payment-page .header .battonBack {
  margin-top: 10px;
  display: flex;
  margin-left: 70px;
}
.wallet-payment-page .header .battonBack .Accept {
  border-radius: 5px;
  width: 100px;
  height: 50px;
  background-color: #007bff;
  text-decoration: none;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.wallet-payment-page .header .battonBack .Accept:hover {
  background-color: #0056b3;
}
.wallet-payment-page .walletPage {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.wallet-payment-page .walletPage h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.wallet-payment-page .walletPage .payment-info {
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.wallet-payment-page .walletPage .payment-info p {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}
.wallet-payment-page .walletPage .payment-info p strong {
  color: #333;
}
.wallet-payment-page .walletPage .confirm-button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.wallet-payment-page .walletPage .confirm-button:hover {
  background-color: #0056b3;
}
.wallet-payment-page .walletPage .confirm-button:active {
  background-color: #3e8e41;
}
.wallet-payment-page .walletPage p {
  font-size: 16px;
  color: #888;
}
.wallet-payment-page .walletPage p.loading {
  color: #999;
  text-align: center;
}
.wallet-payment-page .walletPage .address-info {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
  color: #333;
}
.wallet-payment-page .walletPage .address-info p strong {
  color: #333;
  display: flex;
}
.wallet-payment-page .walletPage .address-info p .button-copy {
  margin-left: 10px;
}
.wallet-payment-page .walletPage .address-info p .button-copy .imgConteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.wallet-payment-page .walletPage .address-info p .button-copy .imgConteiner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.wallet-payment-page .walletPage .address-info .network {
  font-weight: bold;
  color: #555;
}
.wallet-payment-page .walletPage .address-info .address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.wallet-payment-page .walletPage .address-info .address .copy-button {
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.wallet-payment-page .walletPage .address-info .address .copy-button:hover {
  background-color: #0056b3;
}
.wallet-payment-page .walletPage .amount-info {
  margin-bottom: 20px;
  font-size: 18px;
  color: #555;
}
.wallet-payment-page .walletPage .amount-info strong {
  color: #333;
}
.wallet-payment-page .walletPage .support-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}
.wallet-payment-page .walletPage .support-chat button {
  background-color: #806ae0;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.wallet-payment-page .walletPage .support-chat button:hover {
  background-color: #7754c9;
}
.wallet-payment-page .walletPage .support-chat .chat-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1002;
}
.wallet-payment-page .walletPage .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1002;
}
.wallet-payment-page .walletPage .overlay .confirmation-message {
  width: 400px;
  height: 100px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e7ffdf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wallet-payment-page .walletPage .overlay .confirmation-message p {
  color: #333;
}
.wallet-payment-page .walletPage .overlay .confirmation-message button {
  margin-left: 10px;
  border: #333;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: #007bff;
  color: #f1f1f1;
}
.wallet-payment-page .walletPage .overlay .confirmation-message button:hover {
  background-color: #0056b3;
}
.wallet-payment-page .walletPage .confirmation-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.wallet-payment-page .walletPage .confirmation-modal .modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}
.wallet-payment-page .walletPage .confirmation-modal .modal-content p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}
.wallet-payment-page .walletPage .confirmation-modal .modal-content .go-to-dashboard-button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.wallet-payment-page .walletPage .confirmation-modal .modal-content .go-to-dashboard-button:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .wallet-payment-page .walletPage {
    margin-top: 70px;
    width: 400px;
  }
  .wallet-payment-page .walletPage h1 {
    font-size: 20px;
  }
  .wallet-payment-page .walletPage .confirm-button {
    padding: 10px 20px;
    font-size: 14px;
  }
  .wallet-payment-page .walletPage .address-info {
    font-size: 12px;
    max-width: 100%;
  }
  .wallet-payment-page .walletPage .address-info p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-all;
  }
  .wallet-payment-page .walletPage .address-info p strong {
    margin-right: 10px;
    word-break: break-word;
  }
  .wallet-payment-page .walletPage .address-info .button-copy {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wallet-payment-page .walletPage .address-info .button-copy .imgConteiner {
    width: 20px;
    height: 20px;
  }
  .wallet-payment-page .walletPage .address-info .button-copy .imgConteiner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .wallet-payment-page .walletPage .address-info .address .copy-button {
    padding: 6px 10px;
    font-size: 12px;
  }
  .wallet-payment-page .walletPage .support-chat button {
    padding: 10px 20px;
    font-size: 14px;
  }
  .wallet-payment-page .walletPage .support-chat .chat-window {
    width: 100%;
    right: 0;
    left: 0;
  }
}
@media (max-width: 480px) {
  .wallet-payment-page .header {
    height: 50px;
  }
  .wallet-payment-page .header .battonBack {
    margin-top: 7px;
    margin-left: 20px;
  }
  .wallet-payment-page .header .battonBack .Accept {
    width: 70px;
    height: 35px;
    font-size: 0.8rem;
  }
  .wallet-payment-page .walletPage {
    margin-top: 50px;
    width: 300px;
  }
  .wallet-payment-page .walletPage h1 {
    font-size: 18px;
  }
  .wallet-payment-page .walletPage .confirm-button {
    padding: 8px 16px;
    font-size: 12px;
  }
  .wallet-payment-page .walletPage .address-info {
    font-size: 12px;
    max-width: 100%;
  }
  .wallet-payment-page .walletPage .address-info p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-all;
  }
  .wallet-payment-page .walletPage .address-info p strong {
    margin-right: 10px;
    word-break: break-word;
  }
  .wallet-payment-page .walletPage .address-info .button-copy {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wallet-payment-page .walletPage .address-info .button-copy .imgConteiner {
    width: 20px;
    height: 20px;
  }
  .wallet-payment-page .walletPage .address-info .button-copy .imgConteiner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .wallet-payment-page .walletPage .address-info .address .copy-button {
    padding: 6px 10px;
    font-size: 12px;
  }
  .wallet-payment-page .walletPage .support-chat button {
    padding: 8px 16px;
    font-size: 12px;
  }
}
