.MainFolder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.MainFolder .logo {
  align-items: center;
  margin-top: -300px;
}
.MainFolder .logo .logoName {
  font-weight: 700;
  color: #2C2C2C;
}
.MainFolder .logo .logoName p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 98px;
}
.MainFolder .logo .text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 10px;
}
.MainFolder .logo .text-container .description {
  margin-top: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 44px;
  color: #B8B8B8;
}
.MainFolder .logo .text-container .Aboutdesigner {
  margin-top: 50px;
  font-size: 38px;
}
.MainFolder .logo .text-container .Aboutdesigner a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #2C2C2C;
}
.MainFolder .logo .text-container .Aboutdesigner a:hover {
  text-decoration: underline;
}
.MainFolder .logo .container {
  margin-top: 50px;
}
.MainFolder .logo .container ul {
  display: flex;
}
.MainFolder .logo .container ul li {
  list-style-type: none;
}
.MainFolder .logo .container ul li .Accept {
  margin-left: 10px;
  border-radius: 5px;
  background-color: #569efd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  height: 50px;
}
.MainFolder .logo .container ul li .Accept p {
  font-size: 28px;
}
.MainFolder .logo .container ul li .Accept:hover {
  background-color: #4281d4;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.MainFolder .logo .container ul li .Login {
  margin-left: 50px;
  border-radius: 5px;
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #888888;
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  height: 50px;
}
.MainFolder .logo .container ul li .Login p {
  font-size: 28px;
}
.MainFolder .logo .container ul li .Login:hover {
  background-color: #cecece;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Великі екрани (від 1200px) */
@media (min-width: 1200px) {
  .logoName p {
    font-size: 98px;
  }
  .description {
    font-size: 44px;
  }
  .Aboutdesigner {
    font-size: 38px;
  }
  .Accept p,
  .Login p {
    font-size: 28px;
  }
}
/* Середні екрани (від 768px до 1200px) */
@media (max-width: 1200px) and (min-width: 768px) {
  .logo {
    margin-top: 0;
    align-items: flex-start;
  }
  .logoName p {
    font-size: 70px;
  }
  .description {
    font-size: 32px;
  }
  .Aboutdesigner {
    font-size: 28px;
  }
  .Accept {
    width: 300px;
    height: 50px;
  }
  .Accept p,
  .Login p {
    font-size: 24px;
  }
}
/* Малі екрани (від 480px до 768px) */
@media (max-width: 768px) and (min-width: 480px) {
  .MainFolder {
    flex-direction: column;
  }
  .logo {
    margin-top: 0;
    align-items: flex-start;
  }
  .logoName p {
    font-size: 50px;
  }
  .description {
    font-size: 24px;
  }
  .Aboutdesigner {
    font-size: 22px;
  }
  .Accept {
    width: 250px;
    height: 50px;
  }
  .Accept p,
  .Login p {
    font-size: 20px;
  }
}
/* Дуже малі екрани (до 480px) */
@media (max-width: 480px) {
  .MainFolder {
    flex-direction: column;
  }
  .logo {
    margin-top: 0;
    align-items: flex-start;
  }
  .logoName p {
    font-size: 40px;
  }
  .description {
    font-size: 18px;
  }
  .Aboutdesigner {
    font-size: 18px;
  }
  .Accept {
    width: 200px;
    height: 40px;
  }
  .Accept p {
    font-size: 17px;
  }
  .Login {
    width: 70px;
    height: 30px;
  }
  .Login p {
    font-size: 20px;
  }
}
