// out: ../css/HomePage.css

// html {
//     width: 100%;
//     top: 0;
//     left: 0;
//     right: 0px;
//     scroll-behavior: smooth;
//     background-color: rgb(255, 255, 255);
// }

.MainFolder {

    background-color: aqua;
    .logo {
        ul {
            text-decoration: none;
            list-style-type: none;
            li {
                .logoName {

                }    
            }
        }
        // background-color: brown;
    }
}