// out: ../css/Payment.css

.payment-tariff-page {

  .header {
    background: #555;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
    .battonBack {
      margin-top: 10px;
      display: flex;
      margin-left: 70px;

      .Accept {
        border-radius: 5px;
        width: 100px;
        height: 50px;
        background-color: #007bff;
        text-decoration: none;
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }

  .page {
    width: 450px;
    height: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 100px auto 0;
    

    h1 {
      margin-bottom: 20px;
      text-align: center;
    }

    .package-info, .title, .payment-details {
      margin-bottom: 20px;

      p {
        margin: 0;
        font-size: 16px;
      }

      strong {
        margin-right: 5px;
      }
    }

    .title {
      background-color: #e6e6e6;
      padding: 10px;

      p {
        margin: 0;
      }
    }

    .confirm-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #569efd;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #4281d4;
      }
    }
  }

  /* Адаптивність для планшетів */
  @media (max-width: 768px) {
    .page {
      width: 400px;
    }

    .header .battonBack {
      margin-left: 20px;
    }

    .confirm-button {
      font-size: 14px;
    }
  }

  /* Адаптивність для мобільних телефонів */
  @media (max-width: 480px) {
    .page {
      width: 300px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .header {
      height: 50px;

      .battonBack {
        margin-top: 7px;
        // margin-left: -20px;

        .Accept {
          width: 70px;
          height: 35px;
          font-size: 0.8rem;
        }
      }
    }

    h1 {
      font-size: 1.5rem;
    }

    .package-info p, .title p, .payment-details p {
      font-size: 14px;
    }

    .confirm-button {
      font-size: 14px;
      padding: 8px;
    }
  }
}
